CREATE TABLE [dbo].[Auto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AutoOwner] [int] NULL,
	[AutoModel] [int] NULL,
	[VIN] [nvarchar](max) NOT NULL,
	[StateNumber] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NOT NULL,
	[PhoneClient] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mark]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarkName] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarkId] [int] NULL,
	[ModelName] [nvarchar](max) NOT NULL,
	[YearStart] [int] NOT NULL,
	[YearEnd] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderPersonal] [int] NULL,
	[OrderAuto] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderService]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Order] [int] NULL,
	[Service] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[MiddleName] [nvarchar](max) NOT NULL,
	[PersonalLogin] [nvarchar](max) NOT NULL,
	[PersonalPassword] [nvarchar](max) NOT NULL,
	[PersonalPhone] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[ServiceName] [nvarchar](max) NOT NULL,
	[Cost] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 4/30/2021 7:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auto] ON 

INSERT [dbo].[Auto] ([Id], [AutoOwner], [AutoModel], [VIN], [StateNumber]) VALUES (1, 1, 384, N'3KPA24AD0ME', N'М197ХС98')
INSERT [dbo].[Auto] ([Id], [AutoOwner], [AutoModel], [VIN], [StateNumber]) VALUES (2, 2, 381, N'3KPA24AD1ME', N'В243ХС98')
INSERT [dbo].[Auto] ([Id], [AutoOwner], [AutoModel], [VIN], [StateNumber]) VALUES (3, 3, 1109, N'3KPA24AD2ME', N'Х211НК78')
SET IDENTITY_INSERT [dbo].[Auto] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (1, N'Подготовка')
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (2, N'Эксплуатационные жидкости, расходные части и ремни, регулировочные работы')
INSERT [dbo].[Category] ([Id], [CategoryName]) VALUES (3, N'Система охлаждения двигателя')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [MiddleName], [PhoneClient]) VALUES (1, N'Дмитрий', N'Соловьев', N'Денисович', N'7(495)510-2431')
INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [MiddleName], [PhoneClient]) VALUES (2, N'Екатерина', N'Герасимова', N'Кирилловна', N'7(495)326-1140')
INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [MiddleName], [PhoneClient]) VALUES (3, N'Валерия', N'Трошина', N'Дмитриевна', N'7(495)145-3447')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[Mark] ON 

INSERT [dbo].[Mark] ([Id], [MarkName]) VALUES (1, N'Acura')
INSERT [dbo].[Mark] ([Id], [MarkName]) VALUES (2, N'Alfa Romeo')
INSERT [dbo].[Mark] ([Id], [MarkName]) VALUES (3, N'Aston Martin')
SET IDENTITY_INSERT [dbo].[Mark] OFF
GO
SET IDENTITY_INSERT [dbo].[Model] ON 

INSERT [dbo].[Model] ([Id], [MarkId], [ModelName], [YearStart], [YearEnd]) VALUES (1, 1, N'CL', 1998, 2003)
INSERT [dbo].[Model] ([Id], [MarkId], [ModelName], [YearStart], [YearEnd]) VALUES (2, 1, N'EL', 1997, 2005)
INSERT [dbo].[Model] ([Id], [MarkId], [ModelName], [YearStart], [YearEnd]) VALUES (3, 1, N'ILX', 2012, NULL)
GO
SET IDENTITY_INSERT [dbo].[Model] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [OrderPersonal], [OrderAuto], [OrderDate], [OrderStatus]) VALUES (1, 1, 1, CAST(N'2021-04-11T12:00:00.000' AS DateTime), 1)
INSERT [dbo].[Order] ([Id], [OrderPersonal], [OrderAuto], [OrderDate], [OrderStatus]) VALUES (2, 2, 2, CAST(N'2021-04-12T18:00:00.000' AS DateTime), 2)
INSERT [dbo].[Order] ([Id], [OrderPersonal], [OrderAuto], [OrderDate], [OrderStatus]) VALUES (3, 3, 3, CAST(N'2021-04-12T14:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderService] ON 

INSERT [dbo].[OrderService] ([Id], [Order], [Service]) VALUES (1, 1, 14)
INSERT [dbo].[OrderService] ([Id], [Order], [Service]) VALUES (2, 1, 15)
INSERT [dbo].[OrderService] ([Id], [Order], [Service]) VALUES (3, 1, 16)
SET IDENTITY_INSERT [dbo].[OrderService] OFF
GO
SET IDENTITY_INSERT [dbo].[Personal] ON 

INSERT [dbo].[Personal] ([Id], [FirstName], [LastName], [MiddleName], [PersonalLogin], [PersonalPassword], [PersonalPhone]) VALUES (1, N'Артём', N'Щербаков', N'Георгиевич', N'1', N'1', N'7(495)429-6151')
INSERT [dbo].[Personal] ([Id], [FirstName], [LastName], [MiddleName], [PersonalLogin], [PersonalPassword], [PersonalPhone]) VALUES (2, N'Ясмина', N'Молчанова', N'Давидовна', N'Poran', N'Glw0V}\-', N'7(495)459-4003')
INSERT [dbo].[Personal] ([Id], [FirstName], [LastName], [MiddleName], [PersonalLogin], [PersonalPassword], [PersonalPhone]) VALUES (3, N'Полина', N'Кулагина', N'Константиновна', N'Ganylan', N'-lo7|pzI', N'7(495)145-5782')
SET IDENTITY_INSERT [dbo].[Personal] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([Id], [CategoryId], [ServiceName], [Cost]) VALUES (1, 1, N'Первичный осмотр', 500.0000)
INSERT [dbo].[Service] ([Id], [CategoryId], [ServiceName], [Cost]) VALUES (2, 2, N'Масло в АКПП частичная замена с фильтром', 1200.0000)
INSERT [dbo].[Service] ([Id], [CategoryId], [ServiceName], [Cost]) VALUES (3, 2, N'Масло в АКПП частичная замена без замены фильтра', 800.0000)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [StatusName]) VALUES (1, N'Выполнено')
INSERT [dbo].[Status] ([Id], [StatusName]) VALUES (2, N'Запланировано')
INSERT [dbo].[Status] ([Id], [StatusName]) VALUES (3, N'Принята к исполнению')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD FOREIGN KEY([AutoModel])
REFERENCES [dbo].[Model] ([Id])
GO
ALTER TABLE [dbo].[Auto]  WITH CHECK ADD FOREIGN KEY([AutoOwner])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD FOREIGN KEY([MarkId])
REFERENCES [dbo].[Mark] ([Id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([OrderAuto])
REFERENCES [dbo].[Auto] ([Id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([OrderPersonal])
REFERENCES [dbo].[Personal] ([Id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([OrderStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD FOREIGN KEY([Order])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD FOREIGN KEY([Service])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
